<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuthorizationSignUp</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headerText">
          <h1 class="headerH1">Смир</h1>
          <h1 class="headerAccount">Акаунт</h1>
        </div>
      </header>
      <main>
        <div class="containerMain">
          <form>
            <h2>Регистрация</h2>
            <label for="email" class="email">E-mail</label>
            <input type="email" id="email" />
            <label for="email" class="nickName">Никнэйм</label>
            <input type="email" id="email" />
            <label for="password">Пароль</label>
            <input type="password" id="password" />
            <label for="passwordRepeat">Пароль еще раз</label>
            <input type="password" id="password" />
            <button class="button" disabled>Зарегистрироваться</button>
          </form>
          <div class="questionAboutRegestration">
            <span>Уже зарегестрированы?</span>
            <a href="#" class="registrationText">Войдите</a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
