<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headerText">
          <h1 class="headerH1">Смир</h1>
          <h1 class="headerQA">Q&A</h1>
        </div>
      </header>
      <nav class="navigation">
        <ul>
          <li class="signIn">
            <img src="../img/signIn.png" /><a href="#" class="signIn"
              >Войти на сайт</a
            >
          </li>
          <li class="allQuestions">
            <img src="../img/allQuestions.png" /><a
              href="#"
              class="allQuestions text"
              >Все вопросы</a
            >
          </li>
          <li class="allTags">
            <img src="../img/allTags.png" /><a href="#" class="allTags text"
              >Все теги</a
            >
          </li>
          <li class="users">
            <img src="../img/users.png" /><a href="#" class="users text"
              >Пользователи</a
            >
          </li>
        </ul>
      </nav>
      <div class="questionPanel">
        <input
          class="inputQuestionPanel"
          type="text"
          placeholder="Найди вопрос,ответ,тег или пользователя"
        />
        <button class="buttonQuestionPanel">Задать вопрос</button>
      </div>
      <main class="main">
        <div class="mainContainer">
          <h3>Настройки профиля</h3>
          <div class="navigationPanel">
            <a href="#" class="links"><span>Анкета</span></a>
            <a href="#" class="links"><span>Аккаунт</span></a>
          </div>
          <div class="changeAvatar">
            <a href="#" class="avatar"
              ><img src="../img/photoProfil.png" class="imgAvatar"
            /></a>
            <span class="changeAvatarText"
              >Ваша фотография.<br />
              Размер загружаемого файла<br />
              не должен превышать 2 Мб.</span
            >
            <div class="buttonContainer">
              <button class="buttonUpload">Загрузить</button>
              <button class="buttonDelete">Удалить</button>
            </div>
          </div>
          <div class="personalInformationContainer">
            <label class="title" for="name">Имя</label>
            <input class="personalInfomation" type="text" id="name" />
            <label class="title" for="lastName">Фамилия</label>
            <input class="personalInfomation" type="text" id="lastName" />
            <label class="title" for="brieflyAboutYourself"
              >Кратко о себе</label
            >
            <input
              class="personalInfomation"
              type="text"
              id="brieflyAboutYourself"
            />
            <label class="title" for="aboutMySelf">О себе</label>
            <textarea class="personalInfomation" id="aboutMySelf"></textarea>
            <label class="title">Мои контакты</label>
            <div class="myContactsContainer">
              <select class="contacts">
                <option>Vkontakte</option>
                <option>Githab</option>
                <option>E-mail</option>
              </select>
              <input class="personalInfomation contacts" type="text" />
            </div>
            <button class="add">Добавить</button>
            <label class="title location">Местоположение</label>
            <div class="myLocationContainer">
              <select class="location">
                <option>Россия</option>
              </select>
              <select class="location" name="" id="">
                <option>Регион</option>
              </select>
              <select class="location">
                <option value="">Город</option>
              </select>
            </div>
            <button class="saveСhanges">Сохранить изменения</button>
          </div>
        </div>
      </main>
      <aside class="aside"></aside>
      <footer class="footer">
        <a href="#" class="feedBack">Обратная связь</a>
      </footer>
    </div>
  </body>
</html>
