<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headerText">
          <h1 class="headerH1">Смир</h1>
          <h1 class="headerQA">Q&A</h1>
        </div>
      </header>
      <nav class="navigation">
        <ul>
          <li class="signIn">
            <img src="../img/signIn.png" /><a href="#" class="signIn"
              >Войти на сайт</a
            >
          </li>
          <li class="allQuestions">
            <img src="../img/allQuestions.png" /><a
              href="#"
              class="allQuestions text"
              >Все вопросы</a
            >
          </li>
          <li class="allTags">
            <img src="../img/allTags.png" /><a href="#" class="allTags text"
              >Все теги</a
            >
          </li>
          <li class="users">
            <img src="../img/users.png" /><a href="#" class="users text"
              >Пользователи</a
            >
          </li>
        </ul>
      </nav>
      <div class="questionPanel">
        <input
          class="inputQuestionPanel"
          type="text"
          placeholder="Найди вопрос,ответ,тег или пользователя"
        />
        <button class="buttonQuestionPanel">Задать вопрос</button>
      </div>
      <main class="main">
        <div class="mainContainer">
          <h3 class="usersText">Пользователи</h3>
          <div class="usersContainer">
            <div class="userCard">
              <a href="#" class="photoProfil"><img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Aleksandr</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
            <div class="userCard">
              <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Kostya</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
            <div class="userCard">
              <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Marina</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
            <div class="userCard">
              <a href="#" class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Sveta</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
            <div class="userCard">
              <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Sergey</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
            <div class="userCard">
              <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
              <a href="#" class="nickName">Anton</a>
              <span class="usersResponce"><a href="#">4К ответов</a> &#9642 0 вопросов </span>
            </div>
          </div>
        </div>
      </main>
      <aside class="aside"></aside>
      <footer class="footer">
        <a href="#" class="feedBack">Обратная связь</a>
      </footer>
    </div>
  </body>
</html>
