.container {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav questionPanel questionPanel" "nav main aside" "nav footer aside";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 55px 85px 1fr 30px;
}
h1 {
  margin: 0;
}
h3 {
  font-weight: 900;
}

.aside {
  grid-area: aside;
  background-color: #eef1f4;
  margin-right: 50px;
}

/* Header */
.header {
  grid-area: header;
  background: #303b44;
}
.headerText {
  display: flex;
  flex-direction: row;
  border: none;
}
.headerH1 {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}
.headerQA {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 200;
  color: white;
}
/* QuestionPanel */
.questionPanel {
  display: flex;
  justify-content: space-around;
  grid-area: questionPanel;
  background-color: #4f5a6e;
  border: none;
  margin-right: 50px;
}
.inputQuestionPanel {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #424b5f;
  border-radius: 5px;
  color: #a7b3cb;
  border: none;
}
.inputQuestionPanel::-webkit-input-placeholder {
  color: #a7b3cb;
  text-align: center;
}
.inputQuestionPanel:hover {
  background-color: #3a4357;
}
.inputQuestionPanel:focus {
  background-color: #3a4357;
  outline: none;
  caret-color: #a7b3cb;
}
.buttonQuestionPanel {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 37px;
  padding-left: 37px;
  background-color: #65c178;
  border-radius: 5px;
  border: none;
  color: #ffff;
}
.buttonQuestionPanel:hover {
  background-color: #0f6a53;
  cursor: pointer;
}
/* Navigation */
ul {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 10px;
}
a {
  font-size: 17px;
  font-weight: 800;
}
img {
  padding-right: 10px;
  width: 17px;
  height: 17px;
}
.navigation {
  grid-area: nav;
  background-color: #4f5a6e;
  margin-left: 50px;
}
li.signIn {
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom: 0.1px #424b5f solid;
}
a.signIn {
  text-decoration: none;
  color: #fff;
}
a.signIn:hover {
  text-decoration: underline;
}
a.text {
  text-decoration: none;
  color: #a7b3cb;
}
a.text:hover {
  text-decoration: underline;
  color: #fff;
}
/* MainPage */
.main {
  grid-area: main;
}
.mainContainer {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.navigationPanel {
  display: flex;
  justify-content: flex-start;
  border-top: 1px #9099a3 solid;
  border-bottom: 1px #9099a3 solid;
}
a.links {
  padding: 8px;
  text-decoration: none;
  color: #9099a3;
}
a.links:hover {
  color: #333333;
}
a.links:focus {
  color: #333333;
  border-bottom: 2px #333333 solid;
}
.changeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.imgAvatar {
  width: 70px;
  height: 70px;
}
.changeAvatarText {
  color: #9099a3;
  padding-top: 10px;
  font-size: 15px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 20%;
}
.buttonUpload {
  padding: 5px;
  background-color: white;
  color: #93d3a0;
  border: 1px #93d3a0 solid;
}
.buttonUpload:hover {
  border: 1px #689170 solid;
}
.buttonDelete {
  padding: 5px;
  background-color: white;
  color: #9099a3;
  border: 1px white solid;
}
.buttonDelete:hover {
  text-decoration: underline;
}
.personalInformationContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px #f0f0f0 solid;
}
label.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}
input.personalInfomation {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
input.personalInfomation:hover {
  border: 1px #2d72d9 solid;
}
input.personalInfomation:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
textarea.personalInfomation {
  resize: vertical;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
  min-height: 100px;
}
textarea.personalInfomation:hover {
  border: 1px #2d72d9 solid;
}
textarea.personalInfomation:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.myContactsContainer {
  display: flex;
  justify-content: space-between;
}
select.contacts {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
select.contacts:hover {
  border: 1px #2d72d9 solid;
}
select.contacts:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
input.contacts {
  width: 80%;
}
button.add {
  margin-top: 5px;
  width: 10%;
  color: #9099a3;
  border: none;
  background-color: white;
  font-weight: 700px;
  font-size: 12px;
}
button.add:hover {
  color: #2d72d9;
  text-decoration: underline;
}
.myLocationContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
select.location {
  width: 30%;
  padding: 5px;
  border-radius: 4px;
  border: 1px #d2d6d7 solid;
}
select.location:hover {
  border: 1px #2d72d9 solid;
}
select.location:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
label.location {
  padding-top: 30px;
}
button.saveСhanges {
  margin-top: 40px;
  width: 20%;
  padding: 5px;
  background-color: white;
  color: #65c178;
  border: 1px #65c178 solid;
  margin-bottom: 40px;
}
button.saveСhanges:hover {
  color: #63936d;
  border: 1px #63936d solid;
}
/* Footer */
.footer {
  align-items: center;
  display: flex;
  grid-area: footer;
  border-top: 1px #f0f0f0 solid;
}
.feedBack {
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: #a7b3cb;
}
