<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UsersComponent</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="mainContainer">
      <h3 class="usersText">Пользователи</h3>
      <div class="usersContainer">
        <div class="userCard">
          <a href="#" class="photoProfil"><img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Aleksandr</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
        <div class="userCard">
          <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Kostya</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
        <div class="userCard">
          <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Marina</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
        <div class="userCard">
          <a href="#" class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Sveta</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
        <div class="userCard">
          <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Sergey</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
        <div class="userCard">
          <a href="#"class="photoProfil"><img img src="../img/photoProfil.png" class="photoProfil"/></a>
          <a href="#" class="nickName">Anton</a>
          <span class="usersResponce"><a href="#" class="usersCountAnswer">4К ответов</a> &#9642 0 вопросов </span>
        </div>
      </div>
    </div>
  </body>
</html>
