h1 {
  margin: 0;
}
.form-container {
  background-color: #f4f4f4;
  margin: 0;
  min-width: 270px;
}
.header {
  min-width: 270px;
  display: flex;
  background-color: #ffff;

  padding-top: 15px;
  padding-bottom: 15px;
}
.header__title {
  line-height: 1.15;
  font-size: 25px;
  padding-left: 200px;
  font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
}
.header__title > span {
  padding-left: 10px;
  font-weight: 200;
}
/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 270px;
  margin: 0 auto;
  margin-top: 90px;
}
.input-group {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.input-group_outline {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.input-group_p {
  padding-left: 30px;
  padding-right: 30px;
}
/* form-label ---------------------------- */
.form-label {
  margin-bottom: 12px;
}
.form-label__text {
  font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
}
.form-label__text_color-black {
  color: #333;
}
.form-label__text_size {
  font-size: 20px;
  font-weight: bold;
}
/*form-control --------------------------- */
.form-control {
}
.form-control_outline {
  margin-bottom: 40px;
  border: 1px #dbdbdb solid;
}
.form-control_p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control:focus {
  outline: none;
  border: 1px #558cb7 solid;
}
.form-control:hover {
  border: 1px #558cb7 solid;
}
/* form-control-error --------------------- */
.form-control-error {
}
.form-control-error_outline {
  margin-bottom: 10px;
  border: red 1px solid;
}
.form-control-error_p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control-error:focus {
  border: red 1px solid;
}
.form-control-error:hover {
  border: red 1px solid;
}
.form-control-error__text {
  font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
}
.form-control-error__text_color-red {
  color: red;
}
.form-control-error__text_size {
  font-weight: bold;
  padding-bottom: 20px;
}
/* form-control-button ---------------------- */
.form-control-button {
  background-color: #558cb7;
}
.form-control-button_outline {
  margin-bottom: 150px;
  border-radius: 4px;
  border: none;
}
.form-control-button_p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control-button:hover {
  background-color: #376f9a;
}
.form-control-button__text {
  font-size: 15px;
  font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
  font-weight: 500;
}
.form-control-button__text_color {
  color: white;
}
/* form-control-error-server ------------------------------------ */
.form-control-error-server {
  background-color: #558cb7;
}
.form-control-error-server_outline {
  border-radius: 4px;
  margin-bottom: 0;
  border: none;
}
.form-control-error-server_p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control-error-server_color {
  color: white;
}
.form-control-error-server__text {
  padding-top: 20px;
  margin-bottom: 150px;
  text-align: center;
  color: red;
}
/* button-registration ---------------------- */
.button-registration {
  text-align: center;
  background-color: #ffff;
}
.button-registration_outline {
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.button-registration_p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.button-registration__text {
  font-size: 14px;
}
.button-registration__link {
  font-size: 14px;
  text-decoration: none;
  color: #558cb7;
}

@media (max-width: 1350px) {
  .header__title {
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
  .header {
    justify-content: center;
  }
  .header__title {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
