.question_container {
  border-bottom: 1px #f0f0f0 solid;
  padding-top: 10px;
}
.header {
  display: inline-flex;
}
.header_icon {
  width: 16px;
  height: 16px;
}
.header_icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header > a {
  text-decoration: none;
  color: #9c7fda;
  font-size: 12px;
  padding-top: 3px;
  padding-left: 10px;
}
.header > a:hover {
  text-decoration: underline;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 20px;
  min-width: 340px;
}
.content > div {
  padding: 0;
}
.content > div > a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  color: #333333;
}
.content > div > a:hover {
  text-decoration: underline;
  color: #2d72d9;
}
.content > div > span {
  color: #a7b3cb;
  font-size: 13px;
}

.content > a {
  text-decoration: none;
  text-align: center;
  color: #a7b3cb;
  margin-right: 10px;
}
.content > a > span {
  font-size: 17px;
  font-weight: 700;
}
