.users-container {
  padding-left: 40px;
  padding-right: 40px;
}
.users-container_title {
  padding-bottom: 20px;
}
.users-container_title_outline {
  border-bottom: 1px #f0f0f0 solid;
}
.users-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.users-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}
.users-card_p {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.users-card_outline {
  border: 1px #f0f0f0 solid;
}
.users-card__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.users-card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users-card__nickname {
  text-decoration: none;
  color: black;
}
.users-card__nickname_size {
  font-size: 17px;
  font-weight: 700;
  line-height: 1em;
}
.users-card__nickname_p {
  padding-top: 10px;
  padding-bottom: 20px;
}
.users-card__nickname:hover {
  text-decoration: underline;
}
.users-card__stat {
  display: flex;
  justify-content: start;
}
.users-card__stat_outline {
  margin-bottom: 10px;
  border-top: 1px #f0f0f0 solid;
  border-bottom: 1px #f0f0f0 solid;
}
.users-card__stat_p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.users-card__stat-link {
  text-decoration: none;
}
.users-card__stat-link_size {
  color: #2d72d9;
  font-weight: 700;
}
.users-card__stat-link_p {
  padding-right: 5px;
  padding-left: 5px;
}
.users-card__stat-link:hover {
  text-decoration: underline;
}
.users-card__stat-link_inactive {
  color: #939090;
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 1350px) {
}
@media (max-width: 1050px) {
}
@media (max-width: 950px) {
}

@media (max-width: 767px) {
  .users-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 480px) {
}
