.question_container {
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
}
.question_title {
  margin-top: 0;
  padding-top: 15px;
  border-bottom: 1px #f0f0f0 solid;
  padding-bottom: 25px;
}

.input_group {
  display: flex;
  flex-direction: column;
}
.input_group > label {
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 20px;
}
.input_group_text {
  color: #aeb8bc;
  font-size: 13px;
  padding-bottom: 10px;
}
.form_control {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: 1px #f0f0f0 solid;
  border-radius: 4px;
}
.form_control:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.form_control__error {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: red 1px solid;
  border-radius: 4px;
}
.form_control__error:focus {
  border: red 1px solid;
}
.form_control__error:hover {
  border: red 1px solid;
}
.form_control__error__message {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}
textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
  border: 1px #f0f0f0 solid;
  border-radius: 4px;
}
textarea:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: white;
  color: #93d3a0;
  border: 1px #93d3a0 solid;
  /* padding-left: 10px;
  padding-right: 10px; */
  width: 20%;
  cursor: pointer;
}
.btn > span {
  font-size: 12px;
}
.pop_up_container {
  position: relative;
}
.pop_up_img {
  width: 40px;
  height: 40px;
}
.pop_up {
  list-style-type: none;
  position: absolute;
  background-color: white;
  border: 1px black solid;
  cursor: pointer;
}
.pop_up_tag {
  padding-left: 40px;
  padding-right: 40px;
}
.pop_up_tag:hover {
  background-color: rgb(180, 177, 177);
}
@media (max-width: 1350px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .btn {
    width: 20%;
  }
}
@media (max-width: 720px) {
  .btn {
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
  }
}
