.mainContainer {
  padding-left: 40px;
  padding-right: 40px;
}
.tagsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* border: 1px black solid; */
}
div.tag {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border: 1px #f0f0f0 solid;
}

img.tagImg {
  width: 80px;
  height: 80px;
  padding: 0;
}
a.textTag {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
}
a.textTag:hover {
  text-decoration: underline;
}
a.countQuestion {
  border-bottom: 1px #f0f0f0 solid;
  border-top: 1px #f0f0f0 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #2d72d9;
  font-size: 15px;
  font-weight: bold;
}
a.countQuestion:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
.buttonUnsubscribe {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 60%;
  background-color: #2d72d9;
  border: none;
  border-radius: 4px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}
.buttonUnsubscribe:hover {
  background-color: #0c55c3;
}
.buttonSubscribe {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 60%;
  background-color: white;
  color: #2d72d9;
  border-radius: 4px;
  border: 1px #2d72d9 solid;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}
.buttonSubscribe:hover {
  font-weight: 600;
  color: #0c55c3;
  border: 1px #0c55c3 solid;
}
