.container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav questionPanel questionPanel" "nav main aside" "nav footer aside";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 55px 65px 1fr 30px;
}

h1 {
  margin: 0;
}
h3 {
  font-weight: 900;
}
@media (max-width: 1200px) {
  .container {
    min-width: 380px;
    grid-template-areas: "questionPanel questionPanel questionPanel" "main main main" "footer footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: 65px;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
