.user_container {
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.user_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  /* background-color: rgb(190, 70, 70); */
}
.user_avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.user_avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_title {
  font-weight: 700;
  font-size: 23px;
  color: black;
}
.user_subtitle {
  padding-top: 10px;
  font-size: 17px;
  color: #9099a3;
  padding-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: flex-start;
  border-top: 1px #9099a3 solid;
  border-bottom: 1px #9099a3 solid;
}
.nav > div {
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  color: #9099a3;
}
.nav > div:hover {
  color: black;
  text-decoration: underline;
}
.nav > div:focus {
  color: black;
  border-bottom: 2px black solid;
}

.user_info_block {
  margin-top: 20px;
}
.user_info_block > h4 {
  color: #4f6173;
  font-weight: 700px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.user_info_block > span {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
}
.user_info_block > span > a {
  display: inline-block;
  padding-left: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #2d72d9;
}
.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
.question_container {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
}
.question {
  text-decoration: none;
  color: black;
  font-size: 21px;
  font-weight: 700;
}
.question:hover {
  text-decoration: underline;
}
.answer_avatar {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.answer_avatar > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.answer_avatar > div > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.answer_avatar > span {
  padding-left: 10px;
  font-size: 14px;
  color: #9099a3;
  line-height: 1em;
}
.answer_avatar > a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 15;
  font-weight: 700;
}
.answer_avatar > a:hover {
  text-decoration: underline;
}
.answer_details {
  padding: 20px;
  background-color: #f6f7f7;
  color: black;
  font-size: 15px;
  font-weight: 400;
}
