<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headerText">
          <h1 class="headerH1">Смир</h1>
          <h1 class="headerQA">Q&A</h1>
        </div>
      </header>
      <nav class="navigation">
        <ul>
          <li><img />Войти на сайт</li>
          <li><img />Все вопросы</li>
          <li><img /> Все теги</li>
          <li><img />Пользователи</li>
        </ul>
      </nav>
      <div class="questionPanel">
        <input class="inputQuestionPanel" type="text" />
        <button class="buttonQuestionPanel">Задать вопрос</button>
      </div>
      <main class="main">MainMenu</main>
      <aside class="aside">Aside</aside>
      <footer class="footer">Footer</footer>
    </div>
  </body>
</html>
