.container {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav questionPanel questionPanel" "nav main aside" "nav footer aside";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 55px 85px 1fr 55px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  border: 1px black solid;
  padding: 10px;
  color: #a7b3cb;
}
h1 {
  margin: 0;
}

nav,
div,
aside,
main,
footer {
  border: 1px gray solid;
}
.navigation {
  grid-area: nav;
  background-color: #4f5a6e;
  /* width: 100px; */
}
.aside {
  grid-area: aside;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* Header */
.header {
  grid-area: header;
  background: #303b44;
}
.headerText {
  display: flex;
  flex-direction: row;
  border: none;
}
.headerH1 {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}
.headerQA {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 200;
  color: white;
}
/* questionPanel */
.questionPanel {
  display: flex;
  justify-content: space-around;
  grid-area: questionPanel;
  background-color: #4f5a6e;
}
.inputQuestionPanel {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #424b5f;
  border-radius: 5px;

  border: none;
}
.inputQuestionPanel::-webkit-input-placeholder {
  color: #a7b3cb;
  text-align: center;
}
.inputQuestionPanel:hover {
  background-color: #3a4357;
}
.inputQuestionPanel:focus {
  background-color: #3a4357;
  outline: none;
  caret-color: #a7b3cb;
}
.buttonQuestionPanel {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 37px;
  padding-left: 37px;
  background-color: #65c178;
  border-radius: 5px;
  border: none;
  color: #ffff;
}
.buttonQuestionPanel:hover {
  background-color: #0f6a53;
}
