ul {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 10px;
}
a {
  font-size: 17px;
  font-weight: 800;
}
img {
  padding-right: 10px;
  width: 17px;
  height: 17px;
}
.navigation {
  grid-area: nav;
  background-color: #4f5a6e;
  margin-left: 50px;
}
li.signIn {
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom: 0.1px #424b5f solid;
}
a.signIn {
  text-decoration: none;
  color: #fff;
}
a.signIn:hover {
  text-decoration: underline;
}
a.text {
  text-decoration: none;
  color: #a7b3cb;
}
a.text:hover {
  text-decoration: underline;
  color: #fff;
}
img.photoProfil {
  width: 100%;
  height: 100%;
}
a.photoProfil {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.myProfile {
  display: flex;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  /* background-color: rgb(147, 211, 211); */
}
.textProfil {
  padding-left: 10px;
  text-decoration: none;
  color: #fff;
}
.exit {
  border-bottom: 1px #424b5f solid;
}
.exit:hover {
  text-decoration: underline;
  background-color: #424b5f;
}
.settings:hover {
  text-decoration: underline;
  background-color: #424b5f;
}
.notRegistered {
  display: none;
}
.registered {
  display: block;
}
