<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AllQuestion</title>
    <link rel="stylesheet" href="./allQuestion.css">
  </head>
  <body>
    <div class="mainContainer">
      <h3>Все Вопросы</h3>
      <div class="questionCategoriesWrapper">
        <a href="#" class="questionCategories">Новые вопросы</a>
        <a href="#" class="questionCategories">Интересные </a
        ><a href="#" class="questionCategories">Без ответа</a>
      </div>
      <div class="questionsContainer">
        <div class="question">
          <div class="questionHeader">
            <img src="../img/JsIcon.png" class="questionTagIcon" />
            <a href="#" class="questionTag">JAVASCRIPT</a>
          </div>
          <div class="questionMain">
            <div>
              <a href="#" class="questionMainSpan"
              >Почему не работа onClick ?</a>
              <br/>
              <span class="questionMainSpanTwo"
                >1 подписчик &#9642 44 минуты назад &#9642 12 просмотров
              </span>
            </div>
            

            <a href="#" class="countNumber">
              <span class="counter">0</span> <br />
              Ответов
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
