.main_Ñontainer {
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-family: toster-text, Helvetica, Arial, sans-serif;
}
.question_head {
  padding: 15px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px #9099a3 solid;
}
.question_head_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.question_head_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question_head_user_name {
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.question_head_user_name:hover {
  text-decoration: underline;
}
.question_head > span {
  margin-left: 10px;
  color: #9099a3;
  font-size: 14px;
}
.question_tags {
  display: flex;
  align-items: center;
}
.question_tags > a {
  text-decoration: none;
  width: 16px;
  height: 16px;
}
.question_tags > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question_tags > a > span {
  margin-left: 10px;
  color: #2d72d9;
  font-weight: 700;
  font-size: 16px;
}
.question_tags > a > span:hover {
  text-decoration: underline;
}
.question_title {
  padding-top: 5px;
  font-weight: 700;
  font-size: 23px;
  color: #333;
}
.question_body {
  padding-top: 15px;
  padding-bottom: 15px;
}
.question_body > p {
  margin: 0;
  word-break: break-all;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 1.5em;
  color: #333333;
}
.question_body > span {
  color: #9099a3;
  font-weight: 400;
}
.question_answers_title {
  margin: 0;
  padding: 12px 0;
  font-size: 13px;
  color: black;
  font-weight: 700;
  border-bottom: 2px solid #333;
}
.question_answers_block {
  padding-top: 28px;
}
.question_answer {
  display: flex;
  align-items: center;
}

.question_answer_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.question_answer_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.question_answer_username {
  text-decoration: none;
  padding-left: 20px;
}
.question_answer_username > span {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: black;
}
.question_answer_username > span:hover {
  text-decoration: underline;
}
.question_answer > span {
  padding-left: 10px;
  color: #9099a3;
  font-size: 14px;
}
.question_answer_clarification {
  padding-left: 55px;
  font-size: 14px;
  color: #9099a3;
}
.question_answer_text {
  margin: 0;
  font-size: 15px;
  color: #333;
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}

.question_answer_form {
  display: flex;
}
.question_answer_form > a {
  margin-top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.question_answer_form > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form_control {
  margin-top: 10px;
  margin-left: 20px;
  border: 2px #dee1e5 solid;
}
.form_control:hover {
  border: 2px #2d72d9 solid;
}
.form_control:focus {
  border: 2px #2d72d9 solid;
}
.form_control__error {
  margin-top: 10px;
  margin-left: 20px;
  border: red 1px solid;
  border-radius: 4px;
}
.form_control__error:focus {
  border: red 1px solid;
}
.form_control__error:hover {
  border: red 1px solid;
}
.form_control__error__message {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}
.form_control__error__message > span {
  padding-top: 10px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  padding: 0;
  border: none;
  cursor: pointer;
}
.btn__text {
  border: 1px #64bd76 solid;
  color: #64bd76;
  padding: 10px;
}
.btn__text:hover {
  opacity: 0.5;
}
.btn .showAuthorisation {
  display: block;
}
.hideAuthorisation {
  display: none;
}
.authorisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}
.authorisation__img {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.authorisation__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.link_to_authorisation_container {
  text-decoration: none;
  color: #65c178;
  border: 1px #65c178 solid;
  margin-bottom: 60px;
}
.link_to_authorisation_text {
  padding: 20px 20px 20px 20px;
}
.hide {
  display: none;
}
