.footer {
  padding-left: 40px;
  padding-right: 40px;
  align-items: flex-end;
  display: flex;
  grid-area: footer;
  transition: 0.5s;
  transform: translateX(0%);
}
.feedBack {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #a7b3cb;
}
@media (max-width: 1200px) {
  .footer {
    padding-left: 5px;
  }
  .feedBack {
    padding-left: 5px;
  }
  .footer_active {
    transition: 0.5s;
    transform: translateX(50%);
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
  .footer {
    padding-left: 10%;
  }
}
