.footer {
  padding-left: 40px;
  padding-right: 40px;
  align-items: flex-end;
  display: flex;
  grid-area: footer;
  transition: 1s;
  transform: translateX(0%);
}
.feedBack {
  /* border-top: 1px #f0f0f0 solid; */
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #a7b3cb;
}
@media (max-width: 1200px) {
  .footer {
    padding-left: 5px;
  }
  .feedBack {
    padding-left: 5px;
  }
  .footer_active {
    transition: 1s;
    transform: translateX(30%);
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
  .footer {
    padding-left: 10%;
  }
  /* .feedBack {
    padding-left: 12%;
  } */
}
