.profile_container {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: flex-start;
  border-top: 1px #9099a3 solid;
  border-bottom: 1px #9099a3 solid;
}
.nav > span {
  padding: 8px;
  color: #9099a3;
}
.profile_avatar__uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}
.profile_avatar__uploader__image {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.profile_avatar__uploader__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_avatar__uploader__info {
  color: #9099a3;
  padding-top: 10px;
  font-size: 15px;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 20%;
  margin: 0;
}
.btn__upload {
  margin-right: 10px;
  padding: 5px;
  background-color: white;
  color: #93d3a0;
  border: 1px #93d3a0 solid;
  margin-bottom: 30px;
  font-size: 16px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
.btn__upload:hover {
  border: 1px #689170 solid;
}
.btn__delete {
  margin-bottom: 30px;
  padding: 5px;
  background-color: white;
  color: #9099a3;
  border: 1px white solid;
}
.btn__delete:hover {
  text-decoration: underline;
}
.input_group {
  display: flex;
  flex-direction: column;
  border-top: 1px #f0f0f0 solid;
}
.input_group > label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}

.form_control {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
.form_control:hover {
  border: 1px #2d72d9 solid;
}
.form_control:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
textarea.form_control {
  resize: vertical;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
  min-height: 100px;
}
textarea.form_control:hover {
  border: 1px #2d72d9 solid;
}
textarea.form_control:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.form_select_block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form_select {
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
  margin-right: 10px;
  padding: 5px;
}
.form_select:hover {
  border: 1px #2d72d9 solid;
}
.form_select:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.fc_wd_lrg {
  width: 80%;
}
.fs_wd_sml {
  width: 15%;
}
.fs_wd_md {
  width: 30%;
}

.btn {
  margin-top: 40px;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: #65c178;
  border: 1px #65c178 solid;
  margin-bottom: 40px;
}
.btn:hover {
  color: #63936d;
  border: 1px #63936d solid;
}
.btn > span {
  margin: 5px;
  font-size: 12px;
}

.form_control__error {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: red 1px solid;
  border-radius: 4px;
}
.form_control__error:focus {
  border: red 1px solid;
}
.form_control__error:hover {
  border: red 1px solid;
}
.form_control__error__message {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* .inputErrorContacts {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: red 1px solid;
  border-radius: 4px;
  width: 80%;
} */
@media (max-width: 1350px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .fc_wd_lrg {
    width: 75%;
  }
  .fs_wd_sml {
    width: 25%;
  }
}
@media (max-width: 480px) {
  .fs_wd_sml {
    width: 35%;
  }
  .btn {
    width: 25%;
  }
}
