.mainContainer {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.navigationPanel {
  display: flex;
  justify-content: flex-start;
  border-top: 1px #9099a3 solid;
  border-bottom: 1px #9099a3 solid;
}
a.links {
  padding: 8px;
  text-decoration: none;
  color: #9099a3;
}
a.links:hover {
  color: #333333;
}
a.links:focus {
  color: #333333;
  border-bottom: 2px #333333 solid;
}
.changeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.imgAvatar {
  width: 70px;
  height: 70px;
}
.changeAvatarText {
  color: #9099a3;
  padding-top: 10px;
  font-size: 15px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 20%;
  margin: 0;
}
.buttonUpload {
  /* text-decoration: none; */
  padding: 5px;
  background-color: white;
  color: #93d3a0;
  border: 1px #93d3a0 solid;
  margin-bottom: 30px;
  font-size: 16px;
}
input[type="file"] {
  display: none;
}
.buttonUpload:hover {
  border: 1px #689170 solid;
}
.buttonDelete {
  margin-bottom: 30px;
  padding: 5px;
  background-color: white;
  color: #9099a3;
  border: 1px white solid;
}
.buttonDelete:hover {
  text-decoration: underline;
}
.personalInformationContainer {
  display: flex;
  flex-direction: column;

  border-top: 1px #f0f0f0 solid;
}
label.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}
input.personalInfomation {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
input.personalInfomation:hover {
  border: 1px #2d72d9 solid;
}
input.personalInfomation:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
textarea.personalInfomation {
  resize: vertical;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
  min-height: 100px;
}
textarea.personalInfomation:hover {
  border: 1px #2d72d9 solid;
}
textarea.personalInfomation:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
.myContactsContainer {
  display: flex;
  justify-content: space-between;
}
select.contacts {
  width: 15%;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
select.contacts:hover {
  border: 1px #2d72d9 solid;
}
select.contacts:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
input.contacts {
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #d2d6d7 solid;
  border-radius: 4px;
}
input.contacts:hover {
  border: 1px #2d72d9 solid;
}
input.contacts:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
button.add {
  margin-top: 5px;
  width: 10%;
  color: #9099a3;
  border: none;
  background-color: white;
  font-weight: 700px;
  font-size: 12px;
}
button.add:hover {
  color: #2d72d9;
  text-decoration: underline;
}
.myLocationContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
select.location {
  width: 30%;
  padding: 5px;
  border-radius: 4px;
  border: 1px #d2d6d7 solid;
}
select.location:hover {
  border: 1px #2d72d9 solid;
}
select.location:focus {
  outline: none;
  border: 1px #2d72d9 solid;
}
label.location {
  padding-top: 30px;
}
button.saveСhanges {
  margin-top: 40px;
  width: 20%;
  padding: 5px;
  background-color: white;
  color: #65c178;
  border: 1px #65c178 solid;
  margin-bottom: 40px;
}
button.saveСhanges:hover {
  color: #63936d;
  border: 1px #63936d solid;
}
span.links {
  padding: 8px;

  color: #9099a3;
}
.inputError {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: red 1px solid;
  border-radius: 4px;

  /* margin-bottom: 10px; */
}
.inputError:focus {
  border: red 1px solid;
}
.inputError:hover {
  border: red 1px solid;
}
.error {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
}
