<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AllTags</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <h3>Все теги</h3>
      <div class="tagsContainer">
        <div class="tag">
          <a href="#"><img src="../img/JavascriptTag.png" class="tagImg" /></a>
          <a href="#" class="textTag">JavaScript</a>

          <a href="#" class="countQuestion">103713 вопросов</a>
          <button class="buttonUnsubscribe">Вы подписаны | 72К</button>
        </div>
        <div class="tag">
          <a href="#"><img src="../img/HTMLtag.png" class="tagImg" /></a>
          <a href="#" class="textTag">HTML</a>
          <a href="#" class="countQuestion">203713 вопросов</a>
          <button class="buttonSubscribe">Подписаться | 72К</button>
        </div>
        <div class="tag">
          <a href="#"><img src="../img/CSStag.png" class="tagImg" /></a>
          <a href="#" class="textTag">CSS</a>

          <a href="#" class="countQuestion">103713 вопросов</a>
          <button class="buttonSubscribe">Подписаться | 72К</button>
        </div>
        <div class="tag">
          <a href="#"><img src="../img/Reacttag.png" class="tagImg" /></a>
          <a href="#" class="textTag">React</a>
          <a href="#" class="countQuestion">103713 вопросов</a>
          <button class="buttonSubscribe">Подписаться | 72К</button>
        </div>
        <div class="tag">
          <a href="#"><img src="../img/Vuetag.png" class="tagImg" /></a>
          <a href="#" class="textTag">Vue</a>
          <a href="#" class="countQuestion">103713 вопросов</a>
          <button class="buttonSubscribe">Подписаться | 72К</button>
        </div>
        <div class="tag">
          <a href="#"><img src="../img/Gittag.png" class="tagImg" /></a>
          <a href="#" class="textTag">Git</a>
          <a href="#" class="countQuestion">103713 вопросов</a>
          <button class="buttonSubscribe">Подписаться | 72К</button>
        </div>
      </div>
    </div>
  </body>
</html>
