.tag_container {
  padding-left: 40px;
  padding-right: 40px;
}
.header {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > img {
  width: 100px;
  height: 100px;
}
.header > h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tag_count {
  font-size: 30px;
  font-weight: 700;
  color: #2d72d9;
}
.tag_followers {
  font-size: 20px;
  color: #9099a3;
  font-weight: 400;
}
.nav {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  border-top: 1px #9099a3 solid;
  border-bottom: 1px #9099a3 solid;
}
.nav > div {
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  color: #9099a3;
}
.nav > div:hover {
  color: black;
  text-decoration: underline;
}
.nav > div:focus {
  color: black;
  border-bottom: 2px black solid;
}
main > div {
  font-size: 15px;
  padding-top: 20px;
  color: #333;
}
main > div > h4 {
  color: #4f6173;
  font-weight: 700px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
