.main-container {
  padding-left: 40px;
  padding-right: 40px;
}
.nav {
  display: inline-flex;
}
.nav-item {
  border: 0.5px rgb(210, 207, 207) solid;
  font-weight: 700;
  text-decoration: none;
  font-size: 13px;
  color: #4f6173;
  padding: 15px;
}
.nav-item:hover {
  color: #2d72d9;
}
.nav-item_focus {
  text-decoration: none;
  border: 0.5px #2d72d9 solid;
  color: #2d72d9;
  font-weight: 700;
  padding: 13px;
}
/* Questions */
.questions-list {
  margin-top: 30px;
}
