<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AboutUsers</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <div class="avatarAndName">
        <a href="#" class="avatar"
          ><img src="../img/photoProfil.png" class="imgAvatar"
        /></a>
        <span class="userNickName">Aleksandr</span>
        <span class="aboutUser"> Начинающий Frontend Разработчик</span>
      </div>
      <div class="navigationPanel">
        <a href="#" class="links"><span>Информация</span></a>
        <a href="#" class="links"><span>Ответы</span></a>
      </div>
      <div class="informationPanel">
        <div class="contacts">
          <h4 class="text">Контакты</h4>
          <span class="contacts"
            >GitHab:<a href="#" class="contacts">
              github.com/AleksandrSmirnov92</a
            ></span
          >
          <span class="contacts"
            >E-mail:<a href="#" class="contacts">Ryan00@mail.ru</a></span
          >
        </div>
        <div class="location">
          <h4 class="text">Местоположение</h4>
          <span class="location">Россия,Московская область,Дубна</span>
        </div>
      </div>
    </div>
  </body>
</html>
